* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  color: #293264;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;

  font-weight: 600;
  font-size: 10.24px;
  line-height: 12px;
  text-align: center;
  background: #4d5b9e;
  border-radius: 10px;
  width: 100px;
  height: 30px;
  color: #f5f7fb;
}
.Intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  justify-content: center;
}
.Intro > h1 {
  font-family: "Karla";
  font-weight: bold;
  font-size: 31.25px;
  margin-bottom: 10px;
}
.Intro > h4 {
  margin-top: 0;
  font-weight: 400;
}
.Intro > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  width: 193px;
  height: 52px;
  font-weight: 500;
  color: #f5f7fb;
  background: #4d5b9e;
  border-radius: 15px;
  font-size: 16px;
}
.app {
  display: flex;
  justify-content: center;
  background-color: black;
}
.play {
  padding: 40px 75px;
  max-width: 600px;
  background-color: white;
}
.quiz {
  display: flex;
  flex-direction: column;
}

.question {
  font-family: "Karla";
  font-size: 16px;
}
.options {
  display: flex;
  /* justify-content: space-around; */
}
.option {
  display: flex;
  align-items: center;
  margin: 0 13px 10px;
  text-align: center;
  border: 0.794239px solid #4d5b9e;
  border-radius: 7.94239px;
}
.selected {
  background: #d6dbf5;
}
.disabled {
  opacity: 0.5;
}
.option.correct {
  background: #94d7a2;
}
.option.wrong {
  background: #f8bcbc;
}
.option-txt {
  font-family: "Inter";
  font-size: 10.24px;

  padding: 3px 10px;
}
/* .footer {
  display: flex;
  justify-content: center;
} */
.result {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.check {
  display: flex;
  justify-content: center;
}
